<div class="container-fluid">
    <div class="row">
        <div class="col bg-dark text-white">
            <a class="navbar-brand">CATCH IT ALL</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <button class="btn btn-outline-info btn-block">   <!--routerlink="/admin/main/orders routerLinkActive="active"-->
                List of Products
            </button>
            <button class="btn btn-outline-info btn-block">   <!--routerlink="/admin/main/orders routerLinkActive="active"-->
                List of Orders
            </button>
            <button class="btn btn-outline-info btn-block">   <!--routerlink="/admin/main/orders routerLinkActive="active"-->
                List of Products
            </button>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>